In [1]:
#Import libraries
import json
import pymysql

In [2]:
#Reading json files
rooms = open('datasets/rooms.json')
json_file_rooms = json.load(rooms)

In [3]:
students = open('datasets/students.json')
json_file_students = json.load(students)

In [4]:
#Creating connection to DB
con = pymysql.connect(host = 'localhost',user = 'user_1',passwd = 'password_1',db = 'testdb')
cursor = con.cursor()

In [11]:
#Function to create "rooms" table
def create_table_rooms(cursor):
    create_table_query = (""" CREATE TABLE IF NOT EXISTS rooms (
                            room_id INTEGER PRIMARY KEY,
                            room_name VARCHAR(40) NOT NULL
                            )
                        """)
    cursor.execute(create_table_query)
    

create_table_rooms(cursor)
con.commit()

In [6]:
#Function to create "students" table
def create_table_students(cursor):
    cursor.execute(f'DROP TABLE IF EXISTS students')
    create_table_query = (""" CREATE TABLE students (
                            room_id INTEGER,
                            birthday DATE NOT NULL,
                            sex VARCHAR(5) NOT NULL,
                            name VARCHAR(120) NOT NULL,
                            id INTEGER NOT NULL,
                            FOREIGN KEY (room_id) REFERENCES rooms (room_id)
                            )
                        """)
    cursor.execute(create_table_query)
    

create_table_students(cursor)
con.commit()

In [7]:
#Function to extract values from json file and insert them into "rooms" table
def insert_values_rooms(table_name, file):
    for i in range(len(file)):
        room_id = file[i].get('id', None)
        name = file[i].get('name', None)
        cursor.execute(f"INSERT INTO {table_name} VALUES (%s,%s)", (room_id, name))
    con.commit()
    return 'Completed'

In [8]:
insert_values_rooms('rooms', json_file_rooms)

'Completed'

In [9]:
#Function to extract values from json file and insert them into "student" table
def insert_values_students(table_name, file):
    for i in range(len(file)):
        birthday = file[i].get('birthday', None)
        student_id = file[i].get('id', None)
        name = file[i].get('name', None)
        room_id = file[i].get('room', None)
        sex = file[i].get('sex', None)
        cursor.execute(f"INSERT INTO {table_name} VALUES (%s,%s,%s,%s,%s)", (room_id, birthday, sex, name, student_id))
    con.commit()
    return 'Completed'

In [10]:
insert_values_students('students', json_file_students)

'Completed'